<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key = "ConnectionName"
         value="Server=122.112.230.249;Database=AIS20220730KFSYB;User ID=bhTmAdmin;Password=ZZsoft@2021" />
    <!-- 当前使用的 账套ID  -->
    <add key="X-KDApi-AcctID" value="61c3cfecd29b71"/>
    <!-- 第三方系统登录授权的 集成用户名称  -->
    <add key="X-KDApi-UserName" value="基础用户"/>
    <!-- 第三方系统登录授权的 应用ID  -->
    <add key="X-KDApi-AppID" value="227507_Q04rx6hG4oBf5U+JRY4pV9TsQNXX5CkL"/>
    <!-- 第三方系统登录授权的 应用密钥  -->
    <add key="X-KDApi-AppSec" value="880d80d5b97d41358e36d4e41c940acb"/>
    <!-- 账套语系，默认2052  -->
    <add key="X-KDApi-LCID" value="2052"/>
    <!-- 组织编码，启用多组织时配置对应的组织编码才有效  -->
    <!--<add key="X-KDApi-OrgNum" value="*****"/>-->
    <!--私有云客户，可以将url 指向产品部署地址 -->
    <add key="X-KDApi-ServerUrl" value="http://122.112.230.249/k3cloud/"/>
  </appSettings>
</configuration>